.container{
    display: flex;
  padding: 1rem;
  justify-content: center;
  max-width: 1280px;
  text-align: center;
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 2rem;
    // background-color: gray;
    // text-align: center;
}